.center-btn{
    display:flex;
    justify-content:center;
    margin-top:20px;
}/* Styles spécifiques login/register déjà centralisés dans style.css */
.auth-body{
    margin:0;
    min-height:100vh;
    display:flex;
    align-items:center;
    justify-content:center;
    overflow:hidden;
    position:relative;
    font-family:Arial, Helvetica, sans-serif;
}

/* VIDEO */

.bg-video{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit:cover;
    z-index:-2;
}

/* COUCHE SOMBRE */

.video-overlay{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;

    background:
    linear-gradient(
        rgba(5,10,25,0.72),
        rgba(5,10,25,0.72)
    );

    backdrop-filter: blur(2px);

    z-index:-1;
}

/* CARTE LOGIN */

.auth-card{
    width:420px;
    background:rgba(8,12,25,0.82);
    border:1px solid rgba(255,255,255,0.08);
    backdrop-filter:blur(12px);
    border-radius:24px;
    padding:40px;
    color:white;
    box-shadow:0 0 30px rgba(0,0,0,0.5);
}

.auth-card h2{
    font-size:34px;
    margin-bottom:25px;
    text-align:center;
}

.auth-card input{
    width:100%;
    padding:14px;
    margin-top:12px;
    margin-bottom:20px;
    border-radius:14px;
    border:none;
    background:rgba(255,255,255,0.08);
    color:white;
}

.auth-card button{
    width:220px;
    padding:14px;
    border:none;
    border-radius:14px;
    background:#ffcc00;
    color:black;
    font-weight:bold;
    cursor:pointer;
    display:block;
    margin:25px auto 0 auto;
    transition:0.3s;
}

.auth-card button:hover{
    background:#ffd633;
}

/* BOUTON RETOUR */

.back-home{
    position:fixed;
    top:25px;
    left:25px;
    z-index:9999;
    padding:12px 18px;
    border-radius:14px;
    background:rgba(0,0,0,0.6);
    color:#ffcc00;
    text-decoration:none;
    font-weight:700;
    border:1px solid rgba(255,255,255,0.1);
    backdrop-filter:blur(10px);
}
.auth-card button:hover{
    transform:translateY(-2px);
    box-shadow:0 0 20px rgba(255,204,0,0.5);
}
.bg-video{
    filter:
    brightness(0.55)
    saturate(1.1)
    contrast(1.05);
}